*{
    margin: 0;
    padding: 0;
}
.fd{
    background: rgb(20, 19, 19);
    height: 490px;
    width: 280px;
    border-radius: 10px;
    border: 3px solid rgb(58, 55, 55);
    margin: 20px  auto;
  
}
.top1{
     background: rgb(105, 104, 104);
     height: 28px;
     width: 40%;
     text-align: center;
     border-radius: 3px;
     margin: 4px;
}
h2{
    text-shadow: 2px 2px 1px rgb(75, 73, 73);
}
.top2{
    background: rgb(203, 212, 214);
    border-radius: 3px;
    width: 96%;
    height: 50px;
    margin: 6px;
    position: relative;
   
}
#q{
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 35px;
   
}

.c{
    background: rgb(116, 108, 108);
    display: inline-block;
    height: 45px;
    width: 40px;
    text-align: center;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    left: 10px;
    bottom: -20px;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgb(56, 54, 54);
    text-shadow: 1px 1px 1px #000;
    font-size: 40px;
    font-weight: 100px;
}

.d{
    background: rgb(230, 219, 219);
    display: inline-block;
    height: 20px;
    width: 30px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
   
    position: relative;
    left: 10px;
    top: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgb(56, 54, 54);
    /* text-shadow: 1px 1px 1px #000; */
    font-size: 11px;
    font-weight: 100px;
    left: 108px;
    color: rgb(212, 13, 13);
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 3px;

}
h1{
    font-size: 20px;
    text-align: center;
    color: rgb(133, 124, 124);
    text-shadow: 2px 2px 1px rgb(48, 45, 45);
    margin-top: 24px;
}
